USE [user58]
GO
/****** Object:  Table [dbo].[Agents$]    Script Date: 19.09.2023 13:55:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agents$](
	[Тип агента] [nvarchar](255) NULL,
	[AgentTypeId] [float] NULL,
	[Наименование агента] [nvarchar](255) NULL,
	[Индекс] [float] NULL,
	[Электроннаяпочтаагента] [nvarchar](255) NULL,
	[Телефон агента] [nvarchar](255) NULL,
	[Логотип агента] [nvarchar](255) NULL,
	[Юридический адрес] [nvarchar](255) NULL,
	[Приоритет] [float] NULL,
	[Директор] [nvarchar](255) NULL,
	[ИНН] [float] NULL,
	[КПП] [float] NULL,
	[F13] [nvarchar](255) NULL,
	[F14] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AgentType$]    Script Date: 19.09.2023 13:55:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AgentType$](
	[AgentTypeName] [nvarchar](255) NULL,
	[AgentTypeId] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Good$]    Script Date: 19.09.2023 13:55:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Good$](
	[Продукция] [nvarchar](255) NULL,
	[Наименование агента] [nvarchar](255) NULL,
	[Дата реализации] [datetime] NULL,
	[Количество продукции] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products$]    Script Date: 19.09.2023 13:55:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products$](
	[Наименование продукции] [nvarchar](255) NULL,
	[Индекс] [float] NULL,
	[ Тип продукции] [nvarchar](255) NULL,
	[ProductTypeId] [float] NULL,
	[ Артикул] [float] NULL,
	[ Количество человек для производства] [float] NULL,
	[ Номер цеха производства] [float] NULL,
	[Минимальнаяценадляагента] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductTypes$]    Script Date: 19.09.2023 13:55:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductTypes$](
	[ProductTypeName] [nvarchar](255) NULL,
	[ProductTypeId] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SellHistories$]    Script Date: 19.09.2023 13:55:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SellHistories$](
	[Id] [float] NULL,
	[Продукция] [nvarchar](255) NULL,
	[ProductID] [float] NULL,
	[Наименование агента] [nvarchar](255) NULL,
	[AgentId] [float] NULL,
	[Дата реализации] [datetime] NULL,
	[Количество продукции] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Workshops$]    Script Date: 19.09.2023 13:55:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Workshops$](
	[WorkshopName] [float] NULL,
	[WorkshopId] [float] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Agents$] ([Тип агента], [AgentTypeId], [Наименование агента], [Индекс], [Электроннаяпочтаагента], [Телефон агента], [Логотип агента], [Юридический адрес], [Приоритет], [Директор], [ИНН], [КПП], [F13], [F14]) VALUES (N'МКК', 1, N'МонтажОрионУрал', 1, N'pzaitev@blokin.org', N'(35222) 67-39-26', N'agent_96.png', N'027573, Тамбовская область, город Коломна, ул. Ленина, 20', 50, N'Давыдоваа Нина Евгеньевна', 1692286718, 181380912, NULL, NULL)
INSERT [dbo].[Agents$] ([Тип агента], [AgentTypeId], [Наименование агента], [Индекс], [Электроннаяпочтаагента], [Телефон агента], [Логотип агента], [Юридический адрес], [Приоритет], [Директор], [ИНН], [КПП], [F13], [F14]) VALUES (N'МКК', 1, N'МетизСтрой', 2, N'kristina.pakomov@burova.ru', N' 8-800-172-62-56', N'agent_94.png', N'254238, Нижегородская область, город Павловский Посад, проезд Балканская, 23', 374, N'Ева Борисовна Беспалова', 4024742936, 295608432, NULL, NULL)
INSERT [dbo].[Agents$] ([Тип агента], [AgentTypeId], [Наименование агента], [Индекс], [Электроннаяпочтаагента], [Телефон агента], [Логотип агента], [Юридический адрес], [Приоритет], [Директор], [ИНН], [КПП], [F13], [F14]) VALUES (N'ОАО', 2, N'РадиоСевер', 3, N'maiy.belov@rogov.ru', N'(495) 368-86-51', N'agent_123.png', N'491360, Московская область, город Одинцово, въезд Ленина, 19', 431, N'Карпов Иосиф Максимович', 5889206249, 372789083, NULL, NULL)
GO
INSERT [dbo].[AgentType$] ([AgentTypeName], [AgentTypeId]) VALUES (N'МКК', 1)
INSERT [dbo].[AgentType$] ([AgentTypeName], [AgentTypeId]) VALUES (N'ОАО', 2)
INSERT [dbo].[AgentType$] ([AgentTypeName], [AgentTypeId]) VALUES (N'ООО', 3)
GO
INSERT [dbo].[Good$] ([Продукция], [Наименование агента], [Дата реализации], [Количество продукции]) VALUES (N'Попрыгунчик для кошечек 2604', N'КазаньТекстиль', CAST(N'2010-06-21T00:00:00.000' AS DateTime), 7)
INSERT [dbo].[Good$] ([Продукция], [Наименование агента], [Дата реализации], [Количество продукции]) VALUES (N'Попрыгунчик для собачек 5754', N'Компания ФинансСервис', CAST(N'2016-02-17T00:00:00.000' AS DateTime), 18)
INSERT [dbo].[Good$] ([Продукция], [Наименование агента], [Дата реализации], [Количество продукции]) VALUES (N'Попрыгунчик для собачек 4485', N'РемГаражЛифт', CAST(N'2012-11-07T00:00:00.000' AS DateTime), 9)
GO
INSERT [dbo].[Products$] ([Наименование продукции], [Индекс], [ Тип продукции], [ProductTypeId], [ Артикул], [ Количество человек для производства], [ Номер цеха производства], [Минимальнаяценадляагента]) VALUES (N'Попрыгунчик детский красный 1289', 1, N'Для маленьких деток', 1, 82925345, 4, 10, 1919)
INSERT [dbo].[Products$] ([Наименование продукции], [Индекс], [ Тип продукции], [ProductTypeId], [ Артикул], [ Количество человек для производства], [ Номер цеха производства], [Минимальнаяценадляагента]) VALUES (N'Попрыгунчик детский желтый 6678', 2, N'Для больших деток', 2, 80007300, 2, 1, 1768)
INSERT [dbo].[Products$] ([Наименование продукции], [Индекс], [ Тип продукции], [ProductTypeId], [ Артикул], [ Количество человек для производства], [ Номер цеха производства], [Минимальнаяценадляагента]) VALUES (N'Попрыгунчик детский 6888', 3, N'Для маленьких деток', 1, 13875235, 4, 12, 1972)
GO
INSERT [dbo].[ProductTypes$] ([ProductTypeName], [ProductTypeId]) VALUES (N'Для маленьких деток', 1)
INSERT [dbo].[ProductTypes$] ([ProductTypeName], [ProductTypeId]) VALUES (N'Для больших деток', 2)
INSERT [dbo].[ProductTypes$] ([ProductTypeName], [ProductTypeId]) VALUES (N'Взрослый', 3)
GO
INSERT [dbo].[SellHistories$] ([Id], [Продукция], [ProductID], [Наименование агента], [AgentId], [Дата реализации], [Количество продукции]) VALUES (1, N'Попрыгунчик для кошечек 2604', 10, N'КазаньТекстиль', 90, CAST(N'2010-06-21T00:00:00.000' AS DateTime), 7)
INSERT [dbo].[SellHistories$] ([Id], [Продукция], [ProductID], [Наименование агента], [AgentId], [Дата реализации], [Количество продукции]) VALUES (2, N'Попрыгунчик для собачек 5754', 23, N'Компания ФинансСервис', 70, CAST(N'2016-02-17T00:00:00.000' AS DateTime), 18)
INSERT [dbo].[SellHistories$] ([Id], [Продукция], [ProductID], [Наименование агента], [AgentId], [Дата реализации], [Количество продукции]) VALUES (3, N'Попрыгунчик для собачек 4485', 24, N'РемГаражЛифт', 38, CAST(N'2012-11-07T00:00:00.000' AS DateTime), 9)
GO
INSERT [dbo].[Workshops$] ([WorkshopName], [WorkshopId]) VALUES (10, 10)
INSERT [dbo].[Workshops$] ([WorkshopName], [WorkshopId]) VALUES (1, 1)
INSERT [dbo].[Workshops$] ([WorkshopName], [WorkshopId]) VALUES (12, 12)
GO
